@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, input, button, .registration {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #030303;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #FFFFFF;
}

.login-container {
  width: 600px;
  padding: 40px;
  background: #222;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}
.seepassword{
    position: absolute;
    left:99%;
    bottom: 12px;
}
input[type="text"],
input[type="password"] {
  width: 600px;
  padding: 10px;
  background: #030303;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid #F0C3F1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #F0C3F1;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  transition: all 0.2s;
  color: #888;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  top: -20px;
  left: 0;
  color: #aaa;
  font-size: 16px;
}

.save-button {
  width: 600px;
  padding: 10px;
  border: none;
  background-color: #6741D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
}

.save-button:hover {
  border: 1px solid #F0C3F1;
}

.registration {
  text-align: center;
  font-size: 16px;
}
